<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.154009655821-l6etthpieila8kht961m9vv3muo20bvn</string>
			</array>
		</dict>
	</array>
	<key>CLIENT_ID</key>
	<string>154009655821-l6etthpieila8kht961m9vv3muo20bvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154009655821-l6etthpieila8kht961m9vv3muo20bvn</string>
	<key>API_KEY</key>
	<string>AIzaSyBencqFs1OPIKRejCfrGaiTYnTRfZey0Ss</string>
	<key>GCM_SENDER_ID</key>
	<string>154009655821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.ac.ku.sci.cs.MyFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>demofirebase-8dadc</string>
	<key>STORAGE_BUCKET</key>
	<string>demofirebase-8dadc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:154009655821:ios:353fb1c00e803111</string>
	<key>DATABASE_URL</key>
	<string>https://demofirebase-8dadc.firebaseio.com</string>
</dict>
</plist>
